<div class="user-details">
  <h1> Patents </h1>
</div>

<div class="row">
  <div class="col">
    <ul>
      {% for patent in site.data.patents %}
        <li>
          <strong>
            {{patent.title}} <br>
          </strong>
          <em>
          {{patent.authors}}<br>
          </em>
          {{patent.information}}<br>
          {% if forloop.last == false %}
            <br>
            {% if patent.link %}
              <br>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
