<div class="cover-card table-cell table-bottom">
  <h1 style="text-align: center;">
    <div class="profile-photo-wrapper">
      <img src="/assets/img/dongwon.jpg" alt="Dongwon Shin" />
    </div>
    <span class="site-title"><a href="/">{{site.username}}</a></span>
  </h1>
  <p class="body" style="text-align: center;">{{site.user_title}}</p>
  <div class="header-icons body" style="text-align: center;">
    <a aria-label="Send email" target="_blank" href="mailto: {{site.email}}">
      <i class="icon fa fa-envelope"></i>
    </a>
    <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github}}">
      <i class="icon fa fa-github" aria-hidden="true"></i>
    </a>
  </div>
  <p class="body copyright">
    &copy; {{'now'|date: "%Y"}}. All rights reserved.
  </p>
</div>
