<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="row">
      <div class="col s12 m2 l2">
        <div class="table cover">
          {% include header.html %}
        </div>
      </div>
      <div class="col s12 m10 l10">
        <div class="post-listing">
          <section id="about">
            {% include sections/about.html %}
          </section>
          <section id="education">
            {% include sections/education.html %}
          </section>
          <section id="publications">
            {% include sections/publications.html %}
          </section>
<!--           <section id="patents">
            {% include sections/patents.html %}
          </section> -->
          <section id="experiences">
            {% include sections/experiences.html %}
          </section>
          <section id="academic-services">
            {% include sections/academic-services.html %}
          </section>
            {% include footer.html %}
        </div>
      </div>
    </div>
  </body>
</html>
